/*BEGIN SN30 Pro Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    /* The background image is basically the base for the controller's skin. The 
    PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
    and you can observe it as an example. The sticks, buttons, and directional arrows are missing
    because their appropriate elements will be incorperated when their styling is defined below.
    The entirity of the skin's visual styling is done via background images and CSS sprites. */ 
    background: url(https://i.imgur.com/lREU9jE.png);
    position: fixed;
    height: 988px;
    width: 936px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/eB7RNt7.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */
.custom .bumper{
    background: url(https://i.imgur.com/22WXJmn.png);
    opacity: 0;
    width: 25%;
    height: 100%;
}
.custom .bumpers{
    position: absolute;
    width: 100%;
    height: 15%;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
  /* Call me lazy or smart, but why should I make 2 bumpers when they're symmetrical
  and I can just rotate them in the browser? Also, note that you most likely won't need
  to use a browser speficic prefix unless it's something that is indeed browser specific.
  NOTE: CLR Browser is basically chrome, so you use '-webkit-' as the browser prefix. */
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: right;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(https://i.imgur.com/b6Wm3OX.png);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    opacity: 1;
}
.custom .back{
    float: left;
}
.custom .start{
    float: right;
    background-position: 75px 0;
    position: absolute;
    left: 8%;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100px;
    top: 100px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width: 16%;
    height: 15%;
    background: url(https://i.imgur.com/Tl542Ga.png);
    opacity: 0;
    /*! top: 345px; */
    /*! left: 465px; */
}
.custom .button.pressed{
    opacity: 1;
}
.custom .a{
    /*! width: 100%; */
    /*! height: 100%; */
    top: 349px;
    left: 465px;
}
.custom .b{
    top: 260px;
    left: 656px;
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: relative;
    width: 100%;
    height: 100%;
}
.custom .face{
    /*background: url(https://i.imgur.com/9yG0Ik7.png);*/
    position: absolute;
    opacity: 0;
}
.custom .face.up{
	background: url(https://i.imgur.com/OxFiJBr.png);
    /*background-position: 74px 14px;*/
    width: 100%;
    height: 100%;
}
.custom .face.down{
	background: url(https://i.imgur.com/B2k4xIL.png);
    /*background-position: 74px 138px;*/
    width: 100%;
    height: 100%;
}
.custom .face.left{
    background: url(https://i.imgur.com/waEIUg2.png);
    /*background-position: 13px 75px;*/
    width: 100%;
    height: 100%;
}
.custom .face.right{
    background: url(https://i.imgur.com/MwsubyL.png);
    /*background-position: 138px 75px;*/
    width: 100%;
    height: 100%;
}
.custom .face.pressed{
    opacity: 1;
}
/*END SN30 Pro Controller Styling*/