/* TO USE WITH GAMEPAD VIEWER USE THE FOLLOWING STEPS */
/* 1.) Go to https://gamepadviewer.com/#generate */
/* 2.) Use this panel, and copy-pasta the "raw" link of this gist into the custom CSS field. */
/* 3.) In OBS/StreamLabs/ETC. make a Browser element, and use the link provided as the target. */
/* 4.) Afterwards, copy-pasta the same CSS in this gist into the Custom CSS section. */
/* 5.) If it doesn't work : ¯\_(ツ)_/¯ : took me forever to get something usable, I'm assuming this is how it works. */

/*BEGIN GBASP Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    background: url(https://i.imgur.com/lREU9jE.png);
    position: fixed;
    height: 988px;
    width: 936px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://i.imgur.com/eB7RNt7.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */
.custom .bumper{
    background: url(https://i.imgur.com/22WXJmn.png);
    opacity: 0;
    width: 25%;
    height: 100%;
}
.custom .bumpers{
    position: absolute;
    width: 100%;
    height: 15%;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.left{
  /* Call me lazy or smart, but why should I make 2 bumpers when they're symmetrical
  and I can just rotate them in the browser? Also, note that you most likely won't need
  to use a browser speficic prefix unless it's something that is indeed browser specific.
  NOTE: CLR Browser is basically chrome, so you use '-webkit-' as the browser prefix. */
    float: left;
}
.custom .bumper.right{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: right;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(https://i.imgur.com/b6Wm3OX.png);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed{
    opacity: 1;
}
.custom .back{
    float: left;
}
.custom .start{
    float: right;
    background-position: 75px 0;
    position: absolute;
    left: 8%;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100px;
    top: 100px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width: 16%;
    height: 15%;
    background: url(https://i.imgur.com/Tl542Ga.png);
    opacity: 0;
}
.custom .button.pressed{
    opacity: 1;
}
.custom .a{
    top: 349px;
    left: 465px;
}
.custom .b{
    top: 260px;
    left: 656px;
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: relative;
    width: 100%;
    height: 100%;
}
.custom .face{
    position: absolute;
    opacity: 0;
}
.custom .face.up{
	background: url(https://i.imgur.com/OxFiJBr.png);
    width: 100%;
    height: 100%;
}
.custom .face.down{
    background: url(https://i.imgur.com/B2k4xIL.png);
    width: 100%;
    height: 100%;
}
.custom .face.left{
    background: url(https://i.imgur.com/waEIUg2.png);
    width: 100%;
    height: 100%;
}
.custom .face.right{
    background: url(https://i.imgur.com/MwsubyL.png);
    width: 100%;
    height: 100%;
}
.custom .face.pressed{
    opacity: 1;
}
/*END GBASP Styling*/